---

- name: merge syslog configuration between defaults and custom
  ansible.builtin.set_fact:
    syslog_options: "{{ syslog_defaults_options | combine(syslog_options, recursive=True) }}"
    syslog_sources: "{{ syslog_defaults_sources | combine(syslog_sources, recursive=True) }}"
    syslog_message_templates: "{{ syslog_defaults_message_templates | combine(syslog_message_templates, recursive=True) }}"
    syslog_logs: "{{ syslog_defaults_logs | combine(syslog_logs, recursive=True) }}"

- name: defined log directories
  ansible.builtin.set_fact:
    syslog_server_log_destinations: "{{ syslog_logs | bodsch.core.log_directories('/var/log') }}"

- name: detect config version
  bodsch.core.syslog_cmd:
    parameters:
      - --version
  when:
    - not running_in_check_mode
  register: _syslog_config_version
  tags:
    - syslog-ng
    - configuration

- name: set syslog config version
  ansible.builtin.set_fact:
    syslog_config_version: '{{ _syslog_config_version.version }}'
  when:
    - not running_in_check_mode
    - _syslog_config_version is defined
    - _syslog_config_version.version is defined
    - _syslog_config_version.version | int != 0
  tags:
    - syslog-ng
    - configuration

- name: assert syslog_config_version
  ansible.builtin.assert:
    that: syslog_config_version | length != 0
    msg: "I can't found an valid syslog-ng version :("
  when:
    - not running_in_check_mode
  tags:
    - syslog-ng
    - configuration

- name: create /etc/syslog-ng/conf.d
  ansible.builtin.file:
    state: directory
    name: /etc/syslog-ng/conf.d
    mode: "0750"
  when:
    - not running_in_check_mode
  tags:
    - syslog-ng
    - configuration

- name: create directory for syslog clients
  ansible.builtin.file:
    state: directory
    name: "{{ item }}"
    mode: "0775"
  loop: "{{ syslog_server_log_destinations }}"
  when:
    - not running_in_check_mode
    - syslog_server_log_destinations is defined
    - syslog_server_log_destinations | default([]) | count > 0
  tags:
    - syslog-ng
    - configuration

- name: write splittet configuration files
  ansible.builtin.template:
    src: "conf.d/{{ item }}.j2"
    dest: "/etc/syslog-ng/conf.d/{{ item }}"
    mode: "0644"
  when:
    - not running_in_check_mode
  notify:
    - validate syslog-ng config
    - reload syslog-ng
    - restart syslog-ng
  loop:
    - sources.conf
    - destinations.conf
    - filters.conf
    - logs.conf
  tags:
    - syslog-ng
    - configuration

- name: configure syslog-ng.conf
  ansible.builtin.template:
    src: syslog-ng.conf.j2
    dest: /etc/syslog-ng/syslog-ng.conf
    mode: "0644"
    backup: true
  when:
    - not running_in_check_mode
  notify:
    - validate syslog-ng config
    - reload syslog-ng
    - restart syslog-ng
  tags:
    - syslog-ng
    - configuration

- name: flush handlers
  ansible.builtin.meta: flush_handlers
  when:
    - not running_in_check_mode
