---

- name: flush handlers
  ansible.builtin.meta: flush_handlers

- name: systemd
  when:
    - not running_in_check_mode
    - ansible_facts.service_mgr == "systemd"
  block:
    - name: enable and start {{ syslog_unit_file }}.service
      ansible.builtin.service:
        name: '{{ syslog_unit_file }}'
        enabled: true
        state: started
      when:
        - syslog_unit_file is defined

- name: enable and start syslog-ng (no systemd)
  when:
    - not running_in_check_mode
    - ansible_facts.service_mgr != "systemd"
  ansible.builtin.service:
    name: syslog-ng
    enabled: true
    state: started
