#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% macro validate_option(value, valid_values=[]) %}
  {% if valid_values | count > 0 %}
    {% if value not in valid_values %}
      {% set value = None %}
    {% endif %}
  {% endif %}
  {% if value | bodsch.core.type == "str" %}
      {% if value | length == 0 %}
    {% set value = None %}
      {% endif %}
  {% elif value | bodsch.core.type == "list" %}
      {% if value | count == 0 %}
    {% set value = None %}
      {% endif %}
  {% elif value | bodsch.core.type == "bool" %}
    {% set value = value | bodsch.core.config_bool(true_as='yes', false_as='no') %}
  {% endif %}
  {{ value }}
{% endmacro %}
{% set _ = sshd_config.pop("Subsystem") %}
{% set _ = sshd_config.pop("Match") %}

Include /etc/ssh/sshd_config.d/*.conf

{% for key, value in sshd_config.items() %}
{# {{ key }}: {{ value }} - {{ value | bodsch.core.type }} #}
{# # {{ value }} | {{ value | bodsch.core.type }} {{ value | string | length }} #}
  {% if key == "Port" %}
    {% if value | bodsch.core.type in ["int", "string"] %}
      {% set value = value | bodsch.core.string_to_list() %}
    {% endif %}
    {% for x in value %}
{{ key }}  {{ x }}
    {% endfor %}
  {% elif key == "AddressFamily" %}
    {% set _valid_values = ["any", "inet", "inet6"] %}
    {% set value = validate_option(value=value, valid_values=_valid_values) %}
    {% if value | string | trim | length > 0 %}
{{ key -}} {{ value -}}
    {% endif %}
  {% elif key == "ListenAddress" %}
    {% set value = value | bodsch.core.string_to_list() %}
    {% for p in value %}
{{ key }}  {{ p }}
    {% endfor %}
  {% elif key == "HostKey" %}
    {% set value = value | bodsch.core.string_to_list() %}
    {% for p in value %}
{{ key }}  {{ p }}
    {% endfor %}
  {% elif key == "RekeyLimit" %}
    {% if value | bodsch.core.type == "string" %}
      {% set value = value | bodsch.core.string_to_list() %}
    {% endif %}
    {% if value | count > 0 %}
{{ key }}  {{ value | join(' ') }}
    {% endif %}
  {% elif key == "SyslogFacility" %}
    {% set _valid_values = ["AUTHPRIV", "DAEMON","USER","AUTH","LOCAL0","LOCAL1","LOCAL2","LOCAL3","LOCAL4","LOCAL5","LOCAL6","LOCAL7"] %}
    {% set value = validate_option(value=value, valid_values=_valid_values) %}
    {% if value | string | trim | length > 0 %}
{{ key -}} {{ value -}}
    {% endif %}
  {% elif key == "LogLevel" %}
    {% set _valid_values = ["QUIET","FATAL","ERROR","INFO","VERBOSE","DEBUG","DEBUG1","DEBUG2","DEBUG3"] %}
    {% set value = validate_option(value=value, valid_values=_valid_values) %}
    {% if value | string | trim | length > 0 %}
{{ key -}} {{ value -}}
    {% endif %}
  {% elif key == "LogVerbose" %}
    {% if value | bodsch.core.type == "string" %}
      {% set value = value | bodsch.core.string_to_list() %}
    {% endif %}
    {% set value = validate_option(value=value) %}
    {% if value | string | trim | length > 0 %}
{{ key }}  {{ value | join(',') }}
    {% endif %}
  {% elif key == "PermitRootLogin" %}
    {% set _valid_values = ["yes","prohibit-password","forced-commands-only","no"] %}
    {% set value = validate_option(value=value, valid_values=_valid_values) %}
    {% if value | string | trim | length > 0 %}
{{ key -}} {{ value -}}
    {% endif %}
  {% elif key == "AuthorizedKeysFile" %}
    {% if value | bodsch.core.type == "string" %}
      {% set value = value | bodsch.core.string_to_list() %}
    {% endif %}
{{ key }}  {{ value | join(' ') }}
  {% elif key == "Compression" %}
    {% set _valid_values = ["yes","delayed","no"] %}
    {% set value = validate_option(value=value, valid_values=_valid_values) %}
    {% if value | string | trim | length > 0 %}
{{ key -}} {{ value -}}
    {% endif %}
  {% elif key == "AcceptEnv" %}
    {% if value | bodsch.core.type == "string" %}
      {% set value = value | bodsch.core.string_to_list() %}
    {% endif %}
    {% if value | count > 0 %}
{{ key }}  {{ value | join(' ') }}
    {% endif %}
  {# #}
  {% elif key == "KexAlgorithms" %}
    {% if value | bodsch.core.type == "string" %}
      {% set value = value | bodsch.core.string_to_list() %}
    {% endif %}
    {% if value | count > 0 %}
{{ key }}  {{ value | join(',') }}
    {% endif %}
  {% elif key == "Ciphers" %}
    {% if value | bodsch.core.type == "string" %}
      {% set value = value | bodsch.core.string_to_list() %}
    {% endif %}
    {% if value | count > 0 %}
{{ key }}  {{ value | join(',') }}
    {% endif %}
  {% elif key == "MACs" %}
    {% if value | bodsch.core.type == "string" %}
      {% set value = value | bodsch.core.string_to_list() %}
    {% endif %}
    {% if value | count > 0 %}
{{ key }}  {{ value | join(',') }}
    {% endif %}
  {% elif key == "HostKeyAlgorithms" %}
    {% if value | bodsch.core.type == "string" %}
      {% set value = value | bodsch.core.string_to_list() %}
    {% endif %}
    {% if value | count > 0 %}
{{ key }}  {{ value | join(',') }}
    {% endif %}
  {# #}
  {% else %}
    {% set value = validate_option(value=value) %}
    {% if value | string | trim | length > 0 %}
{{ key -}} {{ value -}}
    {% endif %}
  {% endif %}
{% endfor %}
