---

- name: reload systemctl daemon
  ansible.builtin.systemd:
    daemon_reload: true
  when:
    - ansible_facts.service_mgr == 'systemd'

- name: reload sshd
  ansible.builtin.service:
    name: "{{ sshd_service }}"
    state: reloaded

- name: restart sshd
  ansible.builtin.service:
    name: "{{ sshd_service }}"
    state: restarted

- name: start sshdgenkeys.service
  ansible.builtin.service:
    name: sshdgenkeys.service
    state: started
