#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
#
# /etc/pacman.conf
#
# See the pacman.conf(5) manpage for option and repository directives

[options]
RootDir               = {{ pacman_config.root_dir }}
DBPath                = {{ pacman_config.db_path }}
CacheDir              = {{ pacman_config.cache_dir }}
LogFile               = {{ pacman_config.log_file }}
GPGDir                = {{ pacman_config.gpg_dir }}
HookDir               = {{ pacman_config.hook_dir }}
HoldPkg               = {{ pacman_config.hold_pkg | default([]) | join(' ') }}
{% if pacman_config.xfer_command is defined and
      pacman_config.xfer_command | string | length > 0 %}
XferCommand           = {{ pacman_config.xfer_command }}
{% endif %}
CleanMethod           = {{ pacman_config.clean_method }}
Architecture          = {{ pacman_config.architecture }}

# Pacman won't upgrade packages listed in IgnorePkg and members of IgnoreGroup
{% if pacman_config.ignore_pkg | default([]) | count > 0 %}
IgnorePkg             = {{ pacman_config.ignore_pkg | join(' ') }}
{% endif %}
{% if pacman_config.ignore_group | default([]) | count > 0 %}
IgnoreGroup           = {{ pacman_config.ignore_group | join(' ') }}
{% endif %}
{% if pacman_config.no_upgrade | default([]) | count > 0 %}
NoUpgrade             = {{ pacman_config.no_upgrade | join(' ') }}
{% endif %}
{% if pacman_config.no_extract | default([]) | count > 0 %}
NoExtract             = {{ pacman_config.no_extract | join(' ') }}
{% endif %}

{% if pacman_config.use_syslog | default('true') | bool %}
UseSyslog
{% endif %}
{% if pacman_config.color | default('true') | bool %}
Color
{% endif %}
{% if pacman_config.no_progress_bar | default('true') | bool %}
NoProgressBar
{% endif %}
{% if pacman_config.check_space | default('true') | bool %}
CheckSpace
{% endif %}
{% if pacman_config.verbose_pkg_lists | default('true') | bool %}
VerbosePkgLists
{% endif %}
{% if pacman_config.parallel_downloads | default('5') | string | length > 0 %}
ParallelDownloads     = {{ pacman_config.parallel_downloads }}
{% endif %}
{% if pacman_config.download_user | default('alpm') | string | length > 0 %}
DownloadUser          = {{ pacman_config.download_user }}
{% endif %}
{% if pacman_config.disable_sandbox | default('true') | bool %}
# No kernel landlock in containerd
DisableSandbox
{% endif %}

SigLevel              = {{ pacman_config.sig_level | default([]) | join(' ') }}
LocalFileSigLevel     = {{ pacman_config.local_file_sig_level | default([]) | join(' ') }}
{% if pacman_config.remote_file_sig_level | default([]) | count > 0 %}
RemoteFileSigLevel    = {{ pacman_config.remote_file_sig_level | join(' ') }}
{% endif %}

{% if pacman_repositories is defined %}
  {% for repo, values in pacman_repositories.items() %}
    {% if not values.enabled | default('true') %}
# [{{ repo }}]
      {% for k, v in values.items() %}
        {% if k == "sig_level" %}
          {% if v | bodsch.core.type == "list" %}
            {% set _v = v | join(' ') %}
          {% elif v | bodsch.core.type == "str" %}
            {% set _v = v %}
          {% endif %}
# SigLevel      = {{ _v }}
        {% endif %}
        {% if k == "server" %}
# Server        = {{ v }}
        {% endif %}
        {% if k == "include" %}
# Include       = {{ v }}
        {% endif %}
        {% if k == "usage" %}
# Usage         = {{ v | join(' ') }}
        {% endif %}
      {% endfor %}

    {% else %}
[{{ repo }}]
      {% for k, v in values.items() %}
        {% if k == "sig_level" %}
          {% if v | bodsch.core.type == "list" %}
            {% set _v = v | join(' ') %}
          {% elif v | bodsch.core.type == "str" %}
            {% set _v = v %}
          {% endif %}
SigLevel      = {{ _v }}
        {% endif %}
        {% if k == "server" %}
Server        = {{ v }}
        {% endif %}
        {% if k == "include" %}
Include       = {{ v }}
        {% endif %}
        {% if k == "usage" %}
Usage         = {{ v | join(' ') }}
        {% endif %}
      {% endfor %}

    {% endif %}
  {% endfor %}
{% endif %}

{% if pacman_options is defined %}
[options]
  {% for option, values in pacman_options.items() %}
    {% if option == "no_extract" %}
      {% for v in values %}
NoExtract  = {{ v }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
