---

- name: include OS specific configuration
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      paths:
        - "vars"
      files:
        # eg. debian-10 / ubuntu-20 / centos-8 / oraclelinux-8
        - "{{ ansible_facts.distribution | lower }}-{{ ansible_facts.distribution_major_version }}.yaml"
        # eg. archlinux-systemd / archlinux-openrc
        - "{{ ansible_facts.distribution | lower }}-{{ ansible_facts.service_mgr | lower }}.yaml"
        # eg. artixlinux-systemd / artixlinux-openrc
        - "{{ ansible_facts.distribution | lower | replace(' ', '') }}-{{ ansible_facts.service_mgr | lower }}.yaml"
        # eg. debian / ubuntu / centos / oraclelinux
        - "{{ ansible_facts.distribution | lower }}.yaml"
        # eg. artixlinux
        - "{{ ansible_facts.distribution | lower | replace(' ', '') }}.yaml"
        # eg. redhat / debian / archlinux
        - "{{ ansible_facts.os_family | lower }}.yaml"
        - default.yaml
      skip: true

- name: update package cache
  ansible.builtin.package:
    update_cache: true

...
